aiogrpc==1.8
future==0.18.2
grpcio==1.51.1
lxml==4.9.2
mavsdk==1.4.2
numpy==1.24.1
protobuf==3.20.1
pymavlink==2.4.37
PySimpleGUI
psutil
pytz
simplekml
matplotlib
bokeh==2.4.3
jinja2
jupyter
pyfftw
pylint
pyulog>=0.9
requests
scipy>=1.8.1
smopy
matplotlib